.btn-dark{
	padding-top: 10px;
  	padding-right: 20px;
  	padding-left: 20px;
  	padding-bottom: 10px;
  	margin: 20px;
  	font-size: 20px;
}
#btCancelar{
  position: absolute;
}
.imagem{
	height: 300px;
}
.mostraFilme{
	border: 1px solid black;
	display: inline-block;
}
.cartaz{
	border: 1px solid black;
	padding: 10px;
}
li{
	list-style-type: none;
}
h2{
	text-align: center;
}
#selFilmes{
	text-align: center;
}
a:visited, a:link{
	color: black;
}
h3, #etapas{
  text-align: center;
}
.etapa{
  background-color: lightgray;
  border-radius: 100%;
}
#essa{
  color: white;
  background-color: green;
}
