.btn{
    padding: 100px;
    top: 50%;
    bottom: 50%;
    margin: 50px;
    font-size: 20px;
}
#btCompra:hover{
    background-color: black;
    color: white;
}
#btRetirar{
    cursor: not-allowed;
}
div{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}