.btn-dark{
	padding-top: 10px;
  	padding-right: 20px;
  	padding-left: 20px;
  	padding-bottom: 10px;
  	margin: 20px;
  	font-size: 20px;
  	position: absolute;
}
.imagem{
	height: 300px;
}
.mostraFilme{
	border: 1px solid black;
	display: inline-block;
}
.cartaz{
	border: 1px solid black;
	padding: 10px;
}
li{
	list-style-type: none;
}
h2{
  text-align: center;
}
#etapas{
  text-align: center;
}
.etapa{
  background-color: lightgray;
  border-radius: 100%;
  float: bottom;
}
#essa{
  color: white;
  background-color: green;
}
#botoes{
	text-align: center;
  margin-top: 50px;
}
#botaoDireita{
  float: left;
  margin-top: 30px;
}
#botaoEsquerda{
  float: right;
  margin-top: 30px;
}
.btn-primary{
  margin: 5px;
  background-color: orange;
}
.imagem{
	height: 400px;
  float: right;
}