h2{
  text-align: center;
}
div{
  text-align: center;
  margin: 20px;
}

#btOk{
  align:right;
}

.diasSem{
	display: inline-block;
  width: 13.6%;
  text-align: center;
}
.dia{
	font-size: 25px;
  padding-left: 50px;
  padding-right: 10px;
}

.btn-dark{
	padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 20px;
  font-size: 20px;
}

.btn-secondary, .btn-outline-secondary, .btn-primary {
  width: 100px;
  height: 50px;
}
h3, #etapas{
  text-align: center;
}
.etapa{
  background-color: lightgray;
  border-radius: 100%;
}
#essa{
  color: white;
  background-color: green;
}
